<h1>Welcome to Bookers!</h1>
<h4>In Bookers,</h4>
<p>you can shareand exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
<%= link_to "log in", new_user_session_path %><br>
<%= link_to "Sign up", new_user_registration_path %>